{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
            "safari 4"
        ]
      },
      "modules": false,
      "loose": true
    }],
    "react"
  ],
  "plugins": [
      "transform-object-rest-spread",
      "syntax-dynamic-import",
      ["transform-react-jsx", { "pragma": "h" }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
      "react"
      ]
    }
  }
}
